body{
    background-color: palegreen;
}
#logo{
    width: 250px;
    height: 70px;

}
.home-section{
    background-color: green;
    border-radius: 5px;
}
.nav-button:hover{
    background-color: lightgrey;
}

.container.penguin-section{
    height: 300px;
    margin-bottom:10%;
}
.penguin-img{
    width: 100%;
}

.slide-show.carousel-item.img{
    width:100%;
    height: 250px;
    
}


. container.women-jacket{
    margin-top: 10%;
}
.price{ 
    color: orangered;
}
.jacket{
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.jacket-card{
    border: 0;
    text-align: center;
}
.jacket-card-footer{
    border: 0;
    background-color: white;
}

.jacket-section{
    margin-top: 5%;
}

.women-jacket{
    margin-top: 5%;
} 
.men-jacket{
    margin-top: 5%;
}
.customer-care{
    height: 400px;
}
.shopping-card{
    border: 0;
    
}
footer{
    margin-top: 15%;
}